<a class="card" href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
    <h5>{{ product.title }}</h5>
    <div class="jdgm-preview-badge" data-id="{{ product.id }}"></div>
      
    <p>{{ product.price | money }}</p>
</a>
  