<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="{{ settings.logo }}">
                <img src="{{ settings.logo | img_url: 'medium' }}" alt="{{ shop.name }} logo">
            </a>
        </div>
        <div class="header__bottom">
            <nav>
                <ul>
                    {% for link in linklists.main-menu.links %}
                        <li>
                            <a href="{{ link.url }}">
                                {{ link.title }}
                            </a>
                            {% if link.links != blank %}
                                <ul>
                                    {% for child_link in link.links %}
                                        <li>
                                            <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>

