<section class="o-product-information">
    <div class="container">
        <div class="o-product-information__gallery" data-aos="fade-in">
            <div class="o-product-information__gallery__images o-product-information__gallery__images--current js-gallery-current">
                {% for image in product.images %}
                    <figure>
                    <img
                        src="{{ image | image_url: width: 522 }}"
                        alt="{{ image.alt | escape }}"
                        width="522"
                        height="522"
                    >
                    </figure>
                {% endfor %}
            </div>
            <div class="o-product-information__gallery__images o-product-information__gallery__images--all js-gallery-all">
                {% for image in product.images %}
                <figure>
                    <img
                    src="{{ image | image_url: width: 167 }}"
                    alt="{{ image.alt | escape }}"
                    width="167"
                    height="167"
                    >
                </figure>
                {% endfor %}
            </div>
        </div>
        <div class="o-product-information__main">
            <h2 class="o-product-information__main__title">
                {{ product.title }}
            </h2>
            <p class="o-product-information__main__code">
                Código: {{ product.variants.first.sku }}
            </p>
            <p class="o-product-information__main__original-price">
                {{ product.compare_at_price | money }}
            </p>
            <h1 class="o-product-information__main__current-price">
                {{ product.price | money }}
            </h1>
            <p class="o-product-information__main__pix">
                À vista no <strong>PIX com 10% OFF</strong>
            </p>
            <div class="o-product-information__main__description">
                {{ product.description }}
            </div>
        </div>
    </div>
</section>