<section class="o-product-information">
    <div class="container">
        <div class="o-product-information__gallery" data-aos="fade-in">
            <div class="o-product-information__gallery__images o-product-information__gallery__images--current js-gallery-current">
                {% for image in product.images %}
                    <figure>
                    <img
                        src="{{ image | image_url: width: 522 }}"
                        alt="{{ image.alt | escape }}"
                        width="522"
                        height="522"
                    >
                    </figure>
                {% endfor %}
            </div>
            <div class="o-product-information__gallery__images o-product-information__gallery__images--all js-gallery-all">
                {% for image in product.images %}
                <figure>
                    <img
                    src="{{ image | image_url: width: 167 }}"
                    alt="{{ image.alt | escape }}"
                    width="167"
                    height="167"
                    >
                </figure>
                {% endfor %}
            </div>
        </div>
        <div class="o-product-information__main">
            <h2 class="o-product-information__main__title">
                {{ product.title }}
            </h2>
            <p class="o-product-information__main__sku">
                Código: {{ product.variants.first.sku }}
            </p>
            {% assign desconto_pix = product.price | times: settings.pix | divided_by: 100.0 %}
            {% assign preco_pix = product.price | minus: desconto_pix %}

            <p class="o-product-information__main__old-price">
                {{ product.compare_at_price | money }}
            </p>
            <h1 class="o-product-information__main__price-with-discount">
                {{ preco_pix | money }}
            </h1>
            {% if settings.pix > 0 %}
                <p class="o-product-information__main__pix">
                    À vista no <strong>PIX com {{ settings.pix }}% OFF</strong>
                </p>    
            {% endif %}
            <h3 class="o-product-information__main__original-price">
                {{ product.price | money }}
            </h3>
            {% if settings.installments > 0 %}
                {% assign installment = product.price | divided_by: settings.installments %}
                <p class="o-product-information__main__installments">
                    Em até {{ settings.installments }}x de {{ installment | money }} sem juros no cartão
                </p>
            {% endif %}
            <p class="o-product-information__main__quantity-label">
                <strong>Quantidade</strong>
            </p>
            <form method="post" action="/cart/add">
                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                <div class="o-product-information__main__quantity-field">
                    <button type="button" class="js-decrease decrease">&#45;</button>
                    <input readonly name="quantity" value="1">
                    <button type="button" class="js-increase increase">&#43;</button>
                </div>
                <button class="o-product-information__main__button a-button a-button--gradient-primary a-button--large" type="submit">
                    <span>Adicionar ao carrinho</span>
                </button>
            </form>
            <div class="o-product-information__main__description">
                {{ product.description }}
            </div>
        </div>
    </div>
</section>