{% if section.blocks != blank %}
    <section class="c-stores" data-aos="fade-in">
      <div class="container">
        <h1 class="c-stores__title">{{ section.settings.title }}</h1>
        <div class="c-stores__items"> 
          {% for block in section.blocks %}
            {% assign delay = forloop.index0 | times: 300 %}
            <a class="c-stores__items__item" href="{{ block.settings.link }}" data-aos="fade-in" data-aos-delay="{{ delay }}">
              <figure>
                {% if block.settings.logo %}
                  <img src="{{ block.settings.logo | img_url: 'medium' }}" alt="Logo da loja {{ forloop.index }}">
                {% endif %}
              </figure>
            </a>
          {% endfor %}
        </div>
      </div>
    </section>
{% endif %}
  

{% schema %}
{
    "name": "Lojas",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Título",
            "default": "Onde Comprar"
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "logo",
                    "label": "Logo"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        }
    ],
    "max_blocks": 4,
    "presets": [
        {
        "name": "Lojas",
        "category": "Custom"
        }
    ]
}
{% endschema %}